@font-face {
    font-family: "0xProto";
    src: url("./fonts/0xProto/0xProto-Regular.woff2") format("woff2");
}
html, body {
    background-color: black;
    margin: 0;
}
#JSWarning {
    color: white;
}
#appWrapper {
    height: 100vh;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
#modlistCheckLabel {
    font-family: '0xProto';
    color: white;
}
#inputTextWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    opacity: 0;
}
#inputText {
    font-family: '0xProto';
    font-size: 1rem;
    background-color: black;
    color: inherit;
    border: none;
    width: 20%;
    text-align: center;
    resize: none;
}
#inputText:focus {
    outline: none;
}
#inputText::placeholder {
    color: grey;
}
#divDuplicatedModsInModLists {
    display: flex;
    gap: 5em;
}
#resultWrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
#divIdenticalModLists {
    font-family: '0xProto';
    color: greenyellow;
    font-size: 2em;
    opacity: 0;
}
.resultContainer {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 100%;
}
.resultContainerTextDiv {
    font-family: '0xProto';
    color: white;
    font-size: 1.5em;
    text-align: center;
}
.listItemModReportEntry {
    font-family: '0xProto';
    color: white;
    font-size: 1em;
}
th, td {
    font-family: '0xProto';
    color:white;
}
