@font-face {
    font-family: "0xProto";
    src: url("./fonts/0xProto/0xProto-Regular.woff2") format("woff2");
}
html, body {
    background-color: black;
    margin: 0;
}
#inputTextWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    color: white;
    opacity: 0;
}
#inputText {
    font-family: '0xProto', monospace;
    font-size: 1rem;
    background-color: black;
    color: inherit;
    border: none;
    width: 15vw;
    text-align: center;
}
#inputText:focus {
    outline: none;
}
#inputText::placeholder {
    color: grey;
}
/*
#listInputTextWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
#listInputForm {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
#listInputTextAreaWrapper {
    display: flex;
    gap: 3vw;
}
.listInputTextAreaList {
    height: 60vh;
    resize: none;
    width: 35vw;
}
#ListInputSubmitButton {
    margin: auto;
    width: fit-content;
}
*/
